<div class="row justify-content-center align-items-center">
    <div class="col-10 col-md-6">
        <div class="row justify-content-center my-5">
            <div class="col-12 text-center">
                <h1>Cadastre seu livro</h1>
            </div>
            <div class="col-8 col-md-4 mt-3">
                <a href="/books" id="link" class="btn btn-secondary w-100">Ver lista</a>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-10 col-md-6">
        <form action="/books/insertbook" method="POST" class="form">
            <input type="hidden" name="id" value="{{book.id}}">
            <div class="my-4">
                <label for="title">Título:</label>
                <input type="text" class="form-control shadow" name="title" placeholder="Digite o título">
            </div>
            <div class="my-4">
                <label for="pageqty">Número de páginas:</label>
                <input type="number" class="form-control shadow" name="pageqty" placeholder="Quantas páginas tem o livro?">
            </div>
            <div class="row justify-content-center">
                <div class="col-4 my-5">
                    <input type="submit" class="form-control btn btn-primary shadow w-100" value="Cadastrar" class="btn">
                </div>
            </div>
        </form>
    </div>
</div>